.Anecdote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
}

.Anecdote > * {
  max-width: 30rem;
}

.Anecdote .Quote {
  font-style: italic;
}

.Anecdote .Quotation {
  text-align: right;
  width: 100%;
}

.Anecdote .Chronicler {
  text-align: right;
  font-weight: bold;
}

.Anecdote .Source {
  font-style: italic;
}
