.PopupAlertPanel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.PopupAlert {
  position: relative;
  min-width: 20rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem var(--shadow);
  text-align: justify;
  margin-bottom: 1rem;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
}

.PopupAlert.open {
  opacity: 1;
  transition: all 1s;
}

.PopupAlert.close {
  height: 0rem;
  margin: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  opacity: 0;
  border: none;
  transition: all 1s;
}

.PopupAlert button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  transition: opacity 0.25 linear;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.1rem;
}

.PopupAlert .Title button:active {
  opacity: 1;
  transition: opacity 0.25 linear;
}

.PopupAlert .Title button:hover {
  opacity: 0.75;
  transition: opacity 0.25 linear;
}
