.App {
  position: absolute;
  background: var(--background);
  color: var(--color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.App > .Content {
  min-width: 20rem;
  max-width: 36rem;
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  font-size: larger;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: calc(1rem + var(--button-size));
  padding-bottom: 5rem;
}

.App > .Watermark {
  position: fixed;
  font-size: 8rem;
  overflow: hidden;
  white-space: nowrap;
  transform: rotate(45deg);
  top: 15rem;
  opacity: 0.06;
}
