* {
  --header-height: 4rem;
  --footer-height: 50%;
  --character-sheet-width: 15rem;
  --actions-width: 5rem;
  --color: #555;
  --background: #ffffff;
  --highlight: #26ad9b;
  --hover: #f700ff;
  --glow: #eb9ae3;
  --scene: #26ad2d;
  --player: #b41adb;
  --person: #3125da;
  --thing: #0e7baa;
}

.TextVenture a {
  color: var(--highlight);
  font-style: italic;
}

.TextVenture a.scene {
  color: var(--scene);
}

.TextVenture a.player {
  color: var(--player);
}

.TextVenture a.person {
  color: var(--person);
}

.TextVenture a.thing {
  color: var(--thing);
}

.TextVenture a:hover {
  color: var(--hover);
  text-shadow: 1px 0px 3px var(--glow);
}

.TextVenture {
  font-family: monospace;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  color: var(--color);
  background: var(--background);
}

.TextVenture h1,
.TextVenture h2,
.TextVenture h3,
.TextVenture h4,
.TextVenture h5,
.TextVenture h6 {
  padding: 0;
  margin: 0;
}

.TextVenture header {
  position: absolute;
  width: 100%;
  top: 0rem;
  height: var(--header-height);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TextVenture footer {
  position: absolute;
  box-sizing: border-box;
  border-top: 1px solid var(--color);
  bottom: 0rem;
  height: var(--footer-height);
  left: var(--actions-width);
  right: var(--character-sheet-width);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.TextVenture footer .Command::before {
  content: "-> ";
}
.TextVenture footer .Command {
  color: var(--highlight);
  margin-left: 1rem;
  font-size: 1.1em;
}

.TextVenture footer .Response::before {
  content: "<- ";
}

.TextVenture footer .Response {
  margin-left: 2rem;
  color: var(--hover);
  margin-bottom: 1rem;
  font-size: 1.1em;
}

.TextVenture article {
  position: absolute;
  top: var(--header-height);
  left: var(--actions-width);
  right: var(--character-sheet-width);
  bottom: var(--footer-height);
  overflow-y: scroll;
}

.TextVenture article h2 {
  position: sticky;
  top: 0;
  background: var(--background);
}

.TextVenture article .Description {
  text-align: justify;
  margin: auto;
  max-width: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1em;
}

.TextVenture aside.Actions {
  position: absolute;
  top: var(--header-height);
  width: var(--actions-width);
  bottom: 0rem;
  border-right: 1px solid var(--color);
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.TextVenture aside.Actions ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.TextVenture aside.CharacterSheet {
  position: absolute;
  display: block;
  border-left: 1px solid var(--color);
  right: 0;
  top: var(--header-height);
  bottom: 0rem;
  width: 0;
  transition: width 2sec;
  overflow-y: scroll;
}

.TextVenture aside.Actions > button {
  width: 4rem;
  height: 2rem;
}

.TextVenture nav button {
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

.TextVenture aside.CharacterSheet > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.TextVenture aside.CharacterSheet.Open {
  width: var(--character-sheet-width);
}

.TextVenture aside.CharacterSheet ul {
  padding: 0;
}

.TextVenture aside.CharacterSheet li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TextVenture .warn {
  color: #f42b2b;
  animation: red-alert 1s ease-in-out infinite;
}

@keyframes red-alert {
  0% {
    color: #f42b2b;
    text-shadow: 1px 0px 5px #e7c0c0;
  }
  50% {
    color: var(--color);
    text-shadow: 1px 0px 5px #ffffff;
  }
  100% {
    color: #f42b2b;
    text-shadow: 1px 0px 5px #e7c0c0;
  }
}
