::selection {
  background: var(--select);
}

.TextVenture.Desktop {
  --console-height: 33%;
  --article-height: 66%;
  --control-width: 33%;
  --content-width: 100%;
}

.TextVenture.Desktop {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: var(--color);
  background: var(--background);
}

.TextVenture.Desktop .Center {
  max-width: 50rem;
  min-width: 10rem;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.TextVenture.Desktop .TextVentureHeader {
  background: var(--background-accent);
  box-sizing: border-box;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.TextVenture.Desktop .TextVentureMain {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
}

.TextVenture.Desktop .TextVentureContent {
  display: flex;
  flex-direction: column;
  width: var(--content-width);
}

.TextVenture.Desktop .TextVentureScene {
  background: var(--background);
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  overflow-x: hidden;
  overflow-y: scroll;
  height: var(--article-height);
  flex-grow: 1;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.TextVenture.Desktop .TextVentureInventory {
  flex-grow: 1;
  border-right: 1px solid var(--border);
  box-sizing: border-box;
  background: var(--background-accent);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.TextVenture.Desktop .TextVentureInventory > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.TextVenture.Desktop .TextVentureInventory a {
  color: var(--thing);
}

.TextVenture.Desktop .TextVentureInventory.on {
  width: var(--control-width);
  transition: 0.25s linear width;
}

.TextVenture.Desktop .TextVentureInventory.off {
  width: 0;
  transition: 0.25s linear width;
}

.TextVenture.Desktop button:hover,
.TextVenture.Desktop a:hover {
  color: var(--hover);
  text-shadow: 0px 0px 3px var(--glow);
}

.TextVenture.Desktop button:active,
.TextVenture.Desktop a:active {
  color: var(--hover);
  text-shadow: 1px 1px 5px var(--glow);
}

.TextVenture.Desktop button {
  background: var(--background);
  border-radius: 0.333rem;
  border: none;
  color: var(--color);
  opacity: 0.7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-size: smaller;
  box-sizing: border-box;
}

.TextVenture.Desktop button:active {
  background: var(--background-accent);
}

.TextVenture.Desktop button.accent {
  background: var(--background-accent);
}

.TextVenture.Desktop button.accent:active {
  background: var(--background);
}

.TextVenture.Desktop button.checked {
  background: var(--color);
  color: var(--background);
}

.TextVenture.Desktop h1 {
  margin: 0;
  padding: 0;
}

.TextVenture.Desktop h2,
.TextVenture.Desktop h3,
.TextVenture.Desktop h4,
.TextVenture.Desktop h5,
.TextVenture.Desktop h6 {
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.TextVenture.Desktop hr {
  opacity: 0.2;
}

.TextVenture.Desktop li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TextVenture.Desktop ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
}

.TextVenture.Desktop .TextVentureActions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.TextVenture.Desktop .TextVentureActions button.TextVentureAction {
  border: 1px solid var(--color);
}

.TextVenture.Desktop .TextVentureActions button {
  height: 3rem;
  width: 3rem;
}

.TextVenture.Desktop span.material-icons {
  font-size: 1.75em;
}

.TextVenture.Desktop img.aboutButton {
  opacity: 0.9;
  height: 1.75em;
}

.TextVenture.Desktop.light img.aboutButton {
  filter: invert();
}

.TextVenture .TextVentureConsole {
  box-sizing: border-box;
  border-top: 2px solid var(--player);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  background: var(--background-accent);
  overflow-y: scroll;
  flex-shrink: 1;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.TextVenture .TextVentureConsole.on {
  height: var(--console-height);
  transition: 0.25s height linear;
}

.TextVenture .TextVentureConsole.off {
  height: 0;
  border: 1px solid transparent;
  transition: 0.25s height linear;
}
