.TextVenture.dark {
  --color: #f8f8f2;
  --background: #292a36;
  --border: #ffffff25;
  --highlight: #a0f981;
  --hover: #b1e9f0;
  --glow: #c6e6eab0;
  --select: #ffffff35;
  --background-accent: #21222c;

  --scene: #f3fa91;
  --player: #b294f7;
  --person: #e07ac4;
  --thing: #ebb86f;
}

.TextVenture.light {
  --color: #616161;
  --background: #ffffff;
  --border: #0000002c;
  --highlight: #2735f7;
  --hover: #4d59ff;
  --glow: #4d59ff8f;
  --select: #bcd6fe;
  --background-accent: #f3f3f3;

  --scene: #950ed8;
  --player: #6b0100;
  --person: #c10501;
  --thing: #426528;
}

.TextVenture .TextVentureConsole .Question {
  color: var(--player);
  margin-left: 2em;
  text-indent: -1em;
}

.TextVenture .TextVentureConsole .Command {
  color: var(--highlight);
  margin-left: 1em;
  text-indent: -1em;
}

.TextVenture .TextVentureConsole .Response {
  margin-top: 0.25em;
  color: var(--person);
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -1em;
}

.TextVenture .TextVentureConsole .Question .Talk,
.TextVenture .TextVentureConsole .Response .Talk {
  font-style: italic;
}

.TextVenture .TextVentureConsole .Question .Talker,
.TextVenture .TextVentureConsole .Response .Talker {
  font-weight: bold;
  margin-right: 0.5em;
}

.TextVenture.comic {
  font-family: cursive;
}

.TextVenture.book {
  font-family: serif;
}

.TextVenture.c64 {
  font-family: monospace;
}

.TextVenture .warn {
  color: #f42b2b;
  animation: red-alert 1s ease-in-out infinite;
}

@keyframes red-alert {
  0% {
    color: #f42b2b;
    text-shadow: 1px 0px 5px #e7c0c0;
  }
  50% {
    color: var(--color);
    text-shadow: 1px 0px 5px #ffffff;
  }
  100% {
    color: #f42b2b;
    text-shadow: 1px 0px 5px #e7c0c0;
  }
}

.TextVenture a {
  color: var(--highlight);
  text-decoration: none;
}

.TextVenture a.scene {
  color: var(--scene);
  font-weight: bold;
}

.TextVenture a.player {
  color: var(--player);
  font-weight: bold;
}

.TextVenture a.person {
  color: var(--person);
  font-weight: bold;
}

.TextVenture a.thing {
  color: var(--thing);
  font-weight: bold;
}
