.TextVentureInventory {
  position: fixed;
  background: var(--background-accent);
  border: 1px solid var(--border);
  border-bottom-right-radius: calc(var(--button-size) / 5);
  left: 0;
  top: 0;
  overflow: hidden;
  width: 50%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding-top: var(--button-size);
  z-index: 2080;
}

.TextVentureInventory .Header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

.TextVentureInventory .Player {
  height: var(--button-size);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.TextVentureInventory .Inventory {
  padding-left: 1rem;
}

.TextVentureInventory .Inventory h4 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.TextVentureInventory.on .Inventory {
  height: 33vh;
  transition: height 0.25s linear;
}

.TextVentureInventory.off .Inventory {
  height: 0;
  transition: height 0.25s linear;
}
