.About .github-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.About .github-link img {
  opacity: 0.88;
}

.About ul {
  list-style-type: square;
  list-style-position: inside;
}

.About li {
  display: list-item;
}

.dark .About .github-link img {
  filter: invert();
}

.system {
  @media (prefers-color-scheme: dark) {
    .About .github-link img {
      filter: invert();
    }
  }
}
