.PopupAlertPanel {
  position: fixed;
  left: 0;
  display: flex;
  width: 0.1px;
  padding-bottom: 1rem;
  height: 100%;
  bottom: var(--button-size);
  z-index: 3000;
  flex-direction: column-reverse;
  background: transparent;
}

.PopupAlert {
  position: relative;
  width: 25rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-align: justify;
  overflow: hidden;
  background: var(--background-accent);
  margin: 1rem;
}

.PopupAlert.open {
  transition: all 1s;
}

.PopupAlert.close {
  height: 0rem;
  border: none;
  transition: all 1s;
  margin: 0rem;
}

.PopupAlert button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 1rem;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.1rem;
}

.PopupAlert .Title button:active {
  opacity: 1;
  transition: opacity 0.25 linear;
}

.PopupAlert .Title button:hover {
  opacity: 0.75;
  transition: opacity 0.25 linear;
}

.PopupAlert h1,
.PopupAlert h2,
.PopupAlert h3,
.PopupAlert h4,
.PopupAlert h5,
.PopupAlert h6 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.PopAlertMessage {
  padding: 1rem;
}
