.VentureSpy {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: #000000bb;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 30rem;
}

.VentureSpy.on {
  width: 50%;
  z-index: 5000;
  transition: width 1s linear;
}
.VentureSpy.off {
  width: var(--button-size);
  z-index: 0;
  transition: width 1s linear;
}

.VentureSpy .SpyOnOff {
  position: absolute;
  top: var(--button-size);
}

.VentureSpy .Header {
  height: calc(var(--button-size) * 2);
  padding: 0.5rem;
}

.VentureSpy .Commands {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  height: calc(100% - 3 * var(--button-size) - 3rem);
}

.VentureSpy .CommandInputs {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.VentureSpy .CommandInputs label {
  display: flex;
  width: var(--button-size);
  background: var(--background-accent);
  color: var(--color);
  height: var(--button-size);
  justify-content: center;
  align-items: center;
}

.VentureSpy .CommandInputs input.wait {
  width: 3rem;
}

.VentureSpy .CommandInputs input.objects {
  width: 10rem;
}

.VentureSpy .CommandInputs input.dialogId {
  width: 20rem;
}

.VentureSpy .CommandInputs.running {
  filter: invert();
}

.VentureSpy .ButtonMargin {
  margin-left: 1rem;
}

.VentureSpy .CommandControl {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  justify-content: stretch;
}

.VentureSpy .CommandControl input {
  width: 100%;
}
