.ActionMenuStickyContainer {
  position: fixed;
  z-index: 2100;
  right: 0;
  display: flex;
  align-items: center;
  bottom: 0;
}

.ActionMenu {
  border: 1px solid var(--border);
  border-top-left-radius: calc(var(--button-size) / 5);
  overflow: hidden;
  background: var(--background);
  width: var(--button-size);
  padding-bottom: var(--button-size);
}

.ActionMenu .Actions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ActionMenu.off .Actions {
  height: 0;
  transition: height 0.25s linear;
}

.ActionMenu.on .Actions {
  height: calc(var(--button-size) * 6);
  transition: height 0.25s linear;
}

.ActionMenu .ActionButton {
  position: absolute;
}

.ActionMenu.off .ActionButton .Icon {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.ActionMenu.on .ActionButton .Icon {
  transform: rotate(270deg);
  transition: transform 0.25s linear;
}

.small .TextVentureAction {
  font-size: 0.75rem;
}

.medium .TextVentureAction {
  font-size: 0.9rem;
}

.large .TextVentureAction {
  font-size: 0.9em;
}
