.InventoryMenu {
  position: fixed;
  background: var(--background-accent);
  border: 1px solid var(--border);
  border-bottom-right-radius: calc(var(--button-size) / 5);
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: var(--button-size);
  z-index: 2080;
  min-width: 10rem;
  max-width: 30rem;
  width: calc(95% - var(--button-size));
}

.InventoryMenu .Header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

.InventoryMenu .Player {
  height: var(--button-size);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.InventoryMenu .Inventory {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.InventoryMenu .Inventory h4 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.InventoryMenu.on .Inventory {
  height: 33vh;
  transition: height 0.25s linear;
}

.InventoryMenu.off .Inventory {
  height: 0;
  transition: height 0.25s linear;
}

.InventoryMenu .Inventory ul.Items {
  width: 100%;
  gap: 0.5rem;
}

.InventoryMenu .Inventory li.Item {
  display: inline;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.InventoryMenu .Inventory li.Item::before {
  content: "-";
}
