.ConsoleMenu {
  position: fixed;
  background: var(--background-accent);
  left: 0;
  bottom: 0;
  right: var(--button-size);
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid var(--border);
  border-top-right-radius: calc(var(--button-size) / 5);
  padding-bottom: var(--button-size);
  min-width: 10rem;
  max-width: 30rem;
  width: calc(95% - var(--button-size));
  z-index: 2090;
}

.ConsoleMenu.on {
  height: 50vh;
  transition: height 0.25s linear;
}
.ConsoleMenu.off {
  height: 0;
  transition: height 0.25s linear;
}

.ConsoleMenu .CommandMenu {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--button-size);
  background: var(--background-accent);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.ConsoleMenu .CommandMenu .CurrentCommand {
  color: var(--player);
  font-size: 0.95rem;
  width: calc(100% - var(--button-size));
}

.ConsoleMenu .Logbook {
  overflow-y: scroll;
  height: 100%;
  bottom: var(--button-size);
  padding-left: 1rem;
  padding-right: 1rem;
}

.ConsoleMenuLog .Question {
  color: var(--highlight);
  margin-left: 2em;
  text-indent: -1em;
  text-align: left;
}

.ConsoleMenuLog .Command {
  color: var(--player);
  margin-left: 1em;
  text-indent: -1em;
  text-align: left;
  font-size: 0.95em;
  font-weight: bold;
}

.ConsoleMenuLog .Response {
  margin-top: 0.25em;
  color: var(--person);
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -1em;
  text-align: left;
}

.ConsoleMenuLog .Question .Talk,
.ConsoleMenuLog .Response .Talk {
  font-style: italic;
}

.ConsoleMenuLog .Question .Talker,
.ConsoleMenuLog .Response .Talker {
  font-weight: bold;
  margin-right: 0.5em;
}
