.Home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.About .github-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
