.Home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.Home .Watermark {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  opacity: 0.02;
  z-index: 0;
}

.light .Home .Watermark {
  filter: invert();
}

.Home .TableOfContents {
  z-index: 1000;
}
